<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="list-group" *ngFor="let player of players">
        <button
          type="button"
          class="list-group-item list-group-item-action item-list"
          [ngStyle]="{'background':selectedPlayers.includes(player) ? '#cccccc' : 'transparent' }"
          (click)="selectedName(player)">
          <div class="row">
            <div class="col-sm-2">
              <img class="icon" src="{{player.image ? player.image : 'assets/no_avatar.jpg'}}">
            </div>
            <div class="col-sm-6 align-self-center">
              <strong>{{player.name}}</strong>
            </div>
            <div class="col-sm-4 align-self-center">
              <button class="btn btn-info" style="margin-right: 5px" (click)="editPlayer(player)">Edit</button>
              <button class="btn btn-danger" (click)="deletePlayer(player)">Delete</button>
            </div>
          </div>
        </button>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col-auto">
          <button
            type="button"
            (click)="generateOrder()"
            class="btn btn-danger">Generovat pořadí
          </button>
        </div>
        <div class="col-auto">
          <button
            type="button"
            (click)="generateTeams()"
            class="btn btn-primary">Vytvořit týmy
          </button>
        </div>
        <div class="col-auto">
          <button
            type="button"
            (click)="createPlayer()"
            class="btn btn-success">+
          </button>
        </div>
      </div>
    </div>

    <div class="col" *ngIf="mixedPlayers.length > 0">
      <div class="list-group" *ngFor="let m of mixedPlayers">
        <button
          type="button"
          class="list-group-item list-group-item-action item-list">
          <div class="row">
            <div class="col-2">
              <img class="icon" src="{{m.image ? m.image : 'assets/no_avatar.jpg'}}">
            </div>
            <div class="col-10 align-self-center">
              <strong>{{m.name}}</strong>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="col" *ngIf="firstTeams.length > 0 && secondTeams.length > 0">
      <div class="list-group" *ngFor="let o of firstTeams; let i = index">
        <h4>{{i}}. Tým</h4>
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="list-group-item list-group-item-action item-list">
              <div class="row">
                <div class="col-4">
                  <img class="icon" src="{{firstTeams[i].image ? firstTeams[i].image : 'assets/no_avatar.jpg'}}">
                </div>
                <div class="col-8 align-self-center">
                  <strong>{{firstTeams[i].name}}</strong>
                </div>
              </div>
            </button>
          </div>
          <h2>+</h2>
          <div class="col">
            <button
              type="button"
              class="list-group-item list-group-item-action item-list">
              <div class="row">
                <div class="col-4">
                  <img class="icon" src="{{secondTeams[i].image ? secondTeams[i].image : 'assets/no_avatar.jpg'}}">
                </div>
                <div class="col-8 align-self-center">
                  <strong>{{secondTeams[i].name}}</strong>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


